@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImgCenter {
  background-image: url("https://images.unsplash.com/photo-1593672715438-d88a70629abe?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
